- var materialize = relativePath + '/css/materialize.min.css'
- var favicon = relativePath + '/favicon.ico?v=2016-08-16'
meta(charset="utf-8")
link(rel="stylesheet" href="https://www.tlss.space/proxy/fonts/googleapis/com/icon?family=Material+Icons" media="screen" charset="utf-8")
link(rel="stylesheet" href=materialize media="screen,projection" charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
link(rel="shortcut icon" href=favicon type="image/vnd.microsoft.icon")
link(rel="icon" href=favicon type="image/vnd.microsoft.icon")
title 星云的Blog - #{title}
