doctype html
html(lang="zh_CN")
	- var relativePath = '.'
	head
		- var title = 'Home'
		- var index = relativePath + '/css/index.min.css'
		include ./header.pug
		link(rel="stylesheet" href=index media="screen,projection" charset="utf-8")
	body.grey.darken-3
		main.container
			.row
				.col.s12
					.name.grey-text.text-darken-1
						b.grey-text.text-lighten-5 X
						| ing
						b.grey-text.text-lighten-5 Y
						| un&nbsp;.&nbsp;
						b.grey-text.text-lighten-5 Z
						| hao
			.row
				.col.s12.m6.l6
					.card-panel.grey.lighten-5.z-depth-1.hoverable
						.row.valign-wrapper
							.col.s4
								.name.grey-text.text-darken-1
									b.grey-text.text-darken-4 B
									| log
							.col.s8
								img.responsive-img(src=blogImg)
						.card-action.right-align
							a(href="./list/0.html")
								i.material-icons(title="在当前窗口打开") open_in_browser
		include ./js.pug
